@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body {
  background-color: #282c34;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.card {
  border-radius: 15px;
}

.card-body {
  background-color: #FBF2CF;
  border-radius: 15px;
}



.navbar {
  background-color: #5F6F94;
  color: #fff;
}

.card-img {
  background-color: #FFE9A0;

  border-radius: 15px;



}